@import "tailwindcss";

@theme {
    --color-accent: #BA8CFF;
    --color-accent-hover: #9866FF;
   
    --color-background: #1a1c1e;
    --color-background-header: #0c0e11;
    --color-background-footer: #0c0e11;
    
    --color-background-hover: #333333;
}