---
interface Props {
  title: string;
  url: string;
  description: string;
  tags?: string[];
  date?: string;
  updated?: string;
  imageUrl?: string;
}

const { title, url, description } = Astro.props;
---

<article class="flex flex-col items-center py-6">
  <a href={url} class="w-full max-w-3xl bg-background-header rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out p-6 hover:scale-[1.02] hover:bg-background-hover">
    <h2 class="font-bold text-3xl mb-4 text-logo hover:text-logo-hover transition-colors duration-300">{title}</h2>
    <p class="text-default text-lg leading-relaxed">{description}</p>
  </a>
</article>

<style>
  a {
    text-decoration: none;
    transform-origin: center;
  }
</style>

