---
interface Props {
  title: string;
  url: string;
  description: string;
  tags?: string[];
  date?: string;
  updated?: string;
  imageUrl?: string;
}

const { title, url, description } = Astro.props;
---

<article class="flex flex-col items-center">
  <a href={url}>
    <h2 class="font-bold">{title}</h2>
    <p>{description}</p>
  </a>
</article>
