---
import Navigation from "./Navigation.astro";
---

<header class="relative flex justify-center items-center p-4 bg-background-header">
  <a href="/" class="left-5 absolute text-xl text-logo-primary font-bold hover:text-logo-primary-hover">Shenleyã®Blog</a>
  <Navigation />
</header>
