---
import NavLink from "./NavLink.astro";
---

<nav class="flex justify-center items-center">
  <ul class="list-none flex">
    <NavLink href="/" text="主页" />
    <NavLink href="/blog" text="博客" />
    <NavLink href="/categories" text="分类" />
    <NavLink href="/tags" text="标签" />
    <NavLink href="/about" text="关于" />
  </ul>
</nav>
