---
import NavLink from "./NavLink.astro";
import houseIcon from "../assets/house-solid.svg";
import listIcon from "../assets/list-solid.svg";
import folderIcon from "../assets/folder-open-solid.svg";
import tagsIcon from "../assets/tags-solid.svg";
import infoIcon from "../assets/circle-info-solid.svg";
---

<nav class="flex justify-center items-center relative w-full">
  <ul
    class="nav-links list-none lg:flex lg:items-center lg:static lg:w-auto lg:bg-transparent lg:p-0 lg:shadow-none absolute top-full left-0 w-full bg-background dark:bg-background-dark"
  >
    <NavLink href="/" text="主页" icon={houseIcon} />
    <NavLink
      href="/posts"
      text="博客"
      icon={listIcon}
      children={[
        { href: "/categories", text: "分类", icon: folderIcon },
        { href: "/tags", text: "标签", icon: tagsIcon },
      ]}
    />
    <NavLink href="/about" text="关于" icon={infoIcon} />
  </ul>
</nav>

<style>
  .nav-links {
    z-index: 50;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1024px) {
    .nav-links {
      flex-direction: row;
    }
  }

  @media (max-width: 1024px) {
    .nav-links {
      padding: 1rem 0;
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }
</style>
