<nav class="flex justify-center items-center">
  <ul class="list-none flex">
    <li>
      <a
        href="/"
        class="mx-2  hover:bg-background-hover px-4 py-2 rounded transition duration-300 ease-in-out"
      >主页</a>
    </li>
    <li>
      <a
        href="/blog"
        class="mx-2 hover:bg-background-hover px-4 py-2 rounded transition duration-300 ease-in-out"
      >博客</a>
    </li>
    <li>
      <a
        href="/about"
        class="mx-2  hover:bg-background-hover px-4 py-2 rounded transition duration-300 ease-in-out"
      >关于</a>
    </li>
  </ul>
</nav>


