---
import NavLink from "./NavLink.astro";
---

<nav class="flex justify-center items-center">
  <ul class="list-none flex">
    <NavLink href="/" text="主页" icon="fa-solid fa-home" />
    <NavLink href="/posts" text="博客" icon="fa-solid fa-list" />
    <NavLink href="/categories" text="分类" icon="fa-solid fa-folder-open" />
    <NavLink href="/tags" text="标签" icon="fa-solid fa-tags" />
    <NavLink href="/about" text="关于" icon="fa-solid fa-circle-info" />
  </ul>
</nav>
